.nt-widget {
  --bg: hsl(0 0% 100%);
  --fg: hsl(240 3.8% 36.1%);
  --bg-anchor-hover: hsl(240 5.9% 90%);
  --bg-anchor-active: var(--bg-anchor-hover);
  --bg-sub-anchors: hsl(240 4.8% 95.9%);
  --bg-header-btn: var(--bg);
  --bg-header-btn-hover: hsl(240 4.8% 95.9%);
  --bg-header-btn-active: var(--bg-header-btn-hover);
  --bg-header-btn-disabled: var(--bg);
  --fg-header-btn-disabled: hsl(240 3.8% 66.1%);
  --border-header-btn: hsl(240 5.9% 90%);
  --bg-toggle-fold-btn-hover: var(--bg-sub-anchors);
  --bg-toggle-fold-btn-active: var(--bg-toggle-fold-btn-hover);
  --indent-line: hsl(240 4.9% 85%);
  --indent-line-highlight: hsl(240 4.9% 65%);
  --fold-indicator-line: var(--indent-line);
  --light-bar: hsl(210 60% 68%);
  --light-bar-tip-on-fold: hsl(from var(--light-bar) h s calc(l * 0.85));
  --light-opacity: 0.2;
}

.dark .nt-widget {
  --bg: hsl(240 10% 3.9%);
  --fg: hsl(240 5% 74.9%);
  --bg-anchor-hover: hsl(240 3.7% 15.9%);
  --bg-anchor-active: var(--bg-anchor-hover);
  --bg-sub-anchors: hsl(240 5.9% 10%);
  --bg-header-btn: var(--bg);
  --bg-header-btn-hover: hsl(240 3.7% 15.9% / 50%);
  --bg-header-btn-active: var(--bg-header-btn-hover);
  --bg-header-btn-disabled: var(--bg);
  --fg-header-btn-disabled: hsl(240 5% 34.9%);
  --border-header-btn: hsl(240 3.7% 15.9%);
  --bg-toggle-fold-btn-hover: var(--bg-sub-anchors);
  --bg-toggle-fold-btn-active: var(--bg-toggle-fold-btn-hover);
  --indent-line: hsl(240 3.7% 20%);
  --indent-line-highlight: hsl(240 3.7% 40%);
  --fold-indicator-line: var(--indent-line);
  --light-bar: hsl(210 60% 68%);
  --light-bar-tip-on-fold: hsl(from var(--light-bar) h s calc(l * 1.15));
  --light-opacity: 0.2;
}
