/* gap cursor 样式：让代码块前后的间隙光标可见 */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: relative;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  width: 20px;
  border-top: 1px dashed gray;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}