.ProseMirror {
    /* display: flow-root;
    outline: none;
    white-space: pre-wrap;
    padding-bottom: 60px; */

    blockquote {
      position: relative;
      padding-left: 40px;
      padding-top: 0;
      padding-bottom: 0;
      box-sizing: content-box;
      margin: 4px 0;

      &::before {
        content: '';
        width: 4px;
        left: 0;
        top: 4px;
        bottom: 4px;
        position: absolute;
        background: #e1e2e8;
        border-radius: 100px;
      }

      hr {
        margin-bottom: 16px;
      }
    }

    ul {
      display: block;
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        padding-left: 20px;

        &>p {
          margin: 0;
          padding: 0;
        }

        &::before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: black;
          position: absolute;
          left: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

    ol {
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 20px;

        &>p {
          margin: 0;
          padding: 0;
        }

        &::before {
          content: counter(list-item) '. ';
          /* 对于 <ol>，显示 "1. "、"2. " */
          position: absolute;
          left: 0;
          color: red;
          /* 自定义颜色 */
          font-weight: bold;
          /* 加粗 */
        }
      }
    }
  }

  .milkdown-code-block {
    display: block;
    position: relative;
    border: 1px solid #e1e2e8;
    border-radius: 6px;
    margin: 10px 0;


    .tools {
      box-sizing: border-box;
      padding:2px 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
      gap: 10px;
      border-bottom: 1px solid #e1e2e8;
      font-size: 12px;

      .language-button {
        width: 100px;
        padding: 2px 10px;
        display: flex;
        border: 1px solid #e1e2e8;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
      }

      .tools-button-group {
        .copy-button {
          cursor: pointer;
          border: none;

          &:active {
            opacity: 0.7;
          }
        }
      }

      .language-picker {
        width: max-content;
        position: absolute;
        z-index: 1;
        padding-top: 16px;

    


        .list-wrapper {
          background: antiquewhite;
          border-radius: 6px;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
          width: 160px;
          padding: 10px 0;
          position: relative;
          top: -10px;

          .search-box {
            display: flex;
            align-items: center;
            margin: 0 16px 12px;
            background: white;
            height: 32px;
            border-radius: 4px;
            outline: 2px solid fuchsia;
            gap: 8px;
            padding: 0 16px;
            font-size: 12px;

            .clear-icon {
              cursor: pointer;
            }

            .search-input {
              width: 100%;
            }

            .search-icon svg {
              width: 16px;
              height: 16px;
            }

            input {
              border: none;

              &:focus {
                outline: none;
              }
            }
          }

          .language-list {
            height: 356px;
            overflow-y: auto;
            margin: 0;
            padding: 0;

            .language-list-item {
              cursor: pointer;
              margin: 0;
              height: 32px;
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 0 8px;
              font-size: 12px;
              list-style: none;

              &::before {
                display: none;
              }
            }

            .language-list-item:hover {
              background: cornsilk;
            }

            .language-list-item:focus-visible {
              outline: none;
              background: cornsilk;
            }

            .language-list-item .leading,
            .language-list-item .leading svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    .codemirror-host{
      overflow: hidden;
      border-radius: 0 0 4px 4px;
      .cm-editor{
        padding: 10px 0;
        *{
          font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        }
        
      }
     
    }
  }