@import "@repo/config-tailwind";
@import "./gap-cursor.css";
@import "./typography-fix.css";
@import "./table-block.css";
@import "./toc-boot.css";
@import "@repo/milkdown-plugin/github-alert.css";
@import "@repo/milkdown-plugin/mermaid/style.css";
@import "@repo/milkdown-plugin/math/style.css";
@import 'katex/dist/katex.min.css';
@plugin "@tailwindcss/typography";






/* 移除编辑区域聚焦时的外框 */
.milkdown {
  .editor {
    outline: none;
    /* 1. 确保有最小高度，不要让内容撑多大就多大 */
    /* min-height: 300px; */
    /* 2. 极其重要：给底部留出足够的补白，让用户能点到代码块下方 */
    padding-bottom: 10px;
    /* 3. 确保光标不会被切掉 */
    overflow: visible;
  }
}